@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Today{text-align: center;}
.dailyWeather{text-align: center; position: relative; display: inline-block;}
.dailyWeather h3{color:#fff; font-size:18px; font-family: 'S-CoreDream-5Medium'}
.dailyWeather .temp{display: flex; justify-content: center; align-items: center;}
.dailyWeather .temp img{}
.dailyWeather .temp p{color:#fff; font-size:42px; font-family: 'S-CoreDream-6Bold', sans-serif;}
.dailyWeather .desc{ color:#fff; font-size:20px; font-family: 'S-CoreDream-5Medium', sans-serif;}
.dailyWeather .humi{color:rgba(255,255,255,.8); font-size:18px; margin-top: 24px;}

.btnArea{display: flex; justify-content: center; margin-top: 20px;}
.btnArea div{margin: 0 10px;}


.detail{margin-top: 15px;  display: flex; flex-wrap:wrap; justify-content: center; width: 70%; justify-self: center;}
.detail li{color:#fff; font-size:14px; width: 50%;text-align: left; line-height: 2;}

@media (max-width:576px) {
    .dailyWeather .temp img{width: 80%;}
    .dailyWeather .temp p{font-size:28px}
}